.main_screen {
  width: 100%;
  height: 270vh;
  background: url("../../styles//assets/Group\ 55\ \(2\).png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.screen_one {
  width: 100%;
  height: 70%;
}
.image_container {
  width: 100%;
  height: 52%;
  display: flex;
}
.text_cont {
  width: 45%;
  height: 100%;
  padding-top: 8em;
  text-align: left;
}
.text_cont h1 {
  padding-bottom: 12px;
  font-size: 3em;
}
.text_cont h4 {
  line-height: 1.6;
}
.button_cont {
  width: 100%;
  height: 30%;
  display: flex;
}
.img_cont {
  width: 55%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bookbox {
  width: 100%;
  height: 12%;
  border-radius: 15px;
  background-color: white;
  position: relative;
  top: -13%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.offer {
  width: 100%;
  height: 30%;
}
.heading {
  text-align: center;
  line-height: 4.5px;
  letter-spacing: 22px;
  color: #f6b100;
  margin-bottom: 1em;
}
.cards_hold {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.cardthink {
  width: 400px;
  height: 380px;
  border-radius: 12px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.specialOffer {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-between;
}
.screen_two {
  width: 100%;
  height: 80vh;
  background-color: #f0f0f0;
}
.hold_two {
  width: 100%;
  height: 100%;
  display: flex;
}

@media (min-width: 768px) and (max-width: 1091.98px) {
}

@media (min-width: 332.98px) and (max-width: 867.98px) {
  .image_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .text_cont {
    width: 100%;
  }
  .img_cont {
    display: none;
  }
  .img1_cont {
    width: 100%;
    height: 30%;
  }

  .cards_hold {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
