.box {
  width: 100%;
  height: 70vh;
}
.hero {
  width: 100%;
  height: 100%;
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.47),
      rgba(0, 0, 0, 0.527),
      rgba(146, 143, 143, 0.171),
      rgba(0, 0, 0, 0.089)
    ),
    url("../../styles/assets/car.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hold_box {
  width: 100%;
  height: 90%;
  display: flex;
}
.img_box {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}
.sel_box {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}
.small_box {
  width: 80%;
  height: 70%;
  border-radius: 22px;
  background-color: #fff;
}
.hero1 {
  width: 100%;
  height: 120vh;
}
.box2 {
  width: 100%;
  height: 100%;
  border-radius: 2em;
  background-color: white;
  position: relative;
  top: -10%;
}

@media (min-width: 768px) and (max-width: 1091.98px) {
  .hold_box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img_box {
    width: 100%;
  }
  .sel_box {
    display: none;
  }
}

@media (min-width: 332.98px) and (max-width: 767.98px) {
  .hold_box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img_box {
    width: 100%;
  }
  .sel_box {
    display: none;
  }
}
